@import "_variables";

* {
    box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  height: 100vh;
  background-color: $bg;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 0.5fr 5fr 0.5fr;
  gap: 1px;
  margin: 0;
  font-size: 20px;
  color: $bg;
  font-weight: 500;
  & > * {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .number__row {
    display: grid;
    gap: 1px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
    // background-color: $bg;
  }
  .number {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    // cursor: pointer;
      &:hover {
        background-color: $bg;
        color: white;
        transition: color 0.3s linear, background-color 0.3s linear;
      }
  }
  .number:not(:last-child){
    border-bottom: 1px solid $bg;
  }
  .menu {
    text-transform: uppercase;
  }
  .center__image {
    background-image: url("https://www.nawpic.com/media/2020/brown-aesthetic-nawpic-5-e1607807885610.jpg");
    background-size: cover;
    background-position: center;
  }
  .scrolling__text {
    font-weight: 400;
    white-space: nowrap;
    overflow: hidden;
    span {
      animation: scrollText 6s linear infinite forwards;
    }
  }
  @keyframes scrollText {
    0% {
      transform: translateX(-150px);
    }
    50% {
      transform: translateX(150px);
    }
    100% {
      transform: translateX(-150px);
    }
  }
}